body {
    background: $css.colors.BG;
    position: absolute;
    width: 100%;
    overflow: hidden;
    margin: 0px;
    font-size: 14px;
    font-family: '$css.font.main';
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-drag {
    -webkit-user-drag: none;
}

.movable {
    cursor: move;
}

.linking {
    cursor: crosshair
}

.file {
    background-color: $css.colors.BG_NEUTRAL;
}

.file:hover {
    background-color: $css.colors.FG_NEUTRAL;
}

.file-delete {
    background-color: transparent;
    color: red;
		font-size: 10px;
    font-weight: bold;
		text-align: center;
		padding: 5px;
		cursor: pointer;
}

.file-delete:hover {
		background-color: #A00;
}

.context-button {
    background-color: transparent;
    color: $css.colors.TEXT_DARK;
    cursor: pointer;
}

.context-button:hover {
    background-color: $css.colors.PRIMARY;
    color: $css.colors.TEXT_LIGHT;
}

.item {}

.item-delete {
    background-color: transparent;
    color: red;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 12px;
    font-weight: bold;
}

.item-delete: hover {
    background-color: pink;
}

.item-root {
    padding: 5px;
    cursor: pointer;
    position: absolute;
    border: 1px solid $css.colors.SECONDARY_ALT;
    width: 30px;
    height: 16px;
    text-align: center;
    background-color: $css.colors.SECONDARY;
    color: $css.colors.TEXT_LIGHT;
}

.item-text {
    padding: 8px;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    border: 1px solid $css.colors.SECONDARY;
    width: 200px;
    background-color: $css.colors.PRIMARY;
    color: $css.colors.TEXT_LIGHT;
}

.item-text:hover {
    background-color: $css.colors.PRIMARY_ALT;
}

.item-choice {
    padding: 15px;
    cursor: pointer;
    position: absolute;
    border: 1px solid $css.colors.PRIMARY;
    border-radius: 30px;
    width: 200px;
    background-color: $css.colors.SECONDARY;
    color: $css.colors.TEXT_LIGHT;
}

.item-choice:hover {
    background-color: $css.colors.SECONDARY_ALT;
}

.anchor-to {
    width: 10px;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 0;
}

.anchor-from {
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.jtk-hover {
    cursor: pointer;
}

.jtk-drag-selected {
    border: 1px solid red;
}

.confirm-button {
    background-color: #009900;
    padding: 5px;
    width: 80px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    color: $css.colors.TEXT_LIGHT;
}

.confirm-button:hover {
    background-color: rgb( 50%, 50%, 50%);
}

.cancel-button {
    background-color: #990000;
    padding: 5px;
    width: 80px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    color: $css.colors.TEXT_LIGHT;
}

.cancel-button:hover {
    background-color: rgb( 50%, 50%, 50%);
}
